@charset "UTF-8";

/* 共通部分
--------------------*/
html {
    font-size: 100%;
}
body {
    background-color: #D1FFEC;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", serif;
    line-height: 1.7;
}
a {
    text-decoration: none;
}

/* ナビゲーションメニュー
---------------------*/
#nav {
    display: flex;
    justify-content: space-around; 
    padding: 10px 220px;
    list-style: none;
}

/* トップ
---------------------*/
#top {
    text-align: center;
    margin-top: 5%;
}
#name {
    font-size: 5rem;
    
}
#belong {
    font-size: 2rem;
}